<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./styles/dashboard.css" rel="stylesheet">
    <title>Novo Produto - Crispys</title>
</head>
<body class="body-pd">
    <div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="#" class="nav__logo">Pedd Cardápios</a>
            </div>
            <div class="nav__list">
                <a href="#" class="nav__link">
                    <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Início</span>
                </a>
                <a href="#" class="nav__link">
                    <ion-icon name="pricetags-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Pedidos</span>
                </a>
                <a href="#" class="nav__link">
                    <ion-icon name="duplicate-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Categorias</span>
                </a>

                <a href="#" class="nav__link active">
                    <ion-icon name="clipboard-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Produtos</span>
                    {{!-- <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon> --}}
                </a>

                <a href="#" class="nav__link">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Configurações</span>
                </a>
            </div>
        </div>

        <a href="#" class="nav__link">
            <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
            <span class="nav__name">Log Out</span>
        </a>
    </nav>
</div>

<h1>ok</h1>
    
    

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="scripts/criaProd.js"></script>
</body>
</html>