<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160209575-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-160209575-9');
    </script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./styles/moraes2.css" rel="stylesheet">
    <title>Confirmação de Pedido - Crispy's Crocante</title>
</head>
<body>

    <a href="/"><img src="./images/logo.png" class="imglogo" alt="Crispys Crocante"></a>

    <h1 style="text-align: center;">Confirme abaixo seu pedido</h1>
    <div id="confirmacao"></div>
    <button class="btn-comprarMais">Comprar mais</button>
    <button id="finalizarPedido">Finalizar Pedido</button>
    <script src="./scripts/confirma.js"></script>
</body>
</html>