<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160209575-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-160209575-9');
    </script>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./styles/login.css" rel="stylesheet">
    <title>Login - Crispy's Crocante</title>
</head>
<body>
    <div class="center">
    <h1>Login</h1>
    <form id="loginForm">
        <div class="txt_field">
        <input type="text" name="email" required>
        <span></span>
        <label>Email</label>
        </div>
        <div class="txt_field">
        <input type="password" name="password" required>
        <span></span>
        <label>Password</label>
        </div>
        <button type="submit">Entrar</button>
        <div class="signup_link">
            Cadastrar <a href="/registrar">Clique aqui</a>
        </div>
    </form>
    </div>

    
    
    <script src="./scripts/login.js"></script>
</body>
</html>